In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("/Users/soumya/Desktop/Data stuff/UdemyCourse/Project2/BitCoinDataAnalysis/bitcoin_price_Training - Training.csv")

In [7]:
df.head(3)

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"

In [8]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [9]:
df.shape

(1556, 7)

In [12]:
df.info

<bound method DataFrame.info of               Date     Open     High      Low    Close         Volume  \
0     Jul 31, 2017  2763.24  2889.62  2720.61  2875.34    860,575,000
1     Jul 30, 2017  2724.39  2758.53  2644.85  2757.18    705,943,000
2     Jul 29, 2017  2807.02  2808.76  2692.80  2726.45    803,746,000
3     Jul 28, 2017  2679.73  2897.45  2679.73  2809.01  1,380,100,000
4     Jul 27, 2017  2538.71  2693.32  2529.34  2671.78    789,104,000
...            ...      ...      ...      ...      ...            ...
1551  May 02, 2013   116.38   125.60    92.28   105.21              -
1552  May 01, 2013   139.00   139.89   107.72   116.99              -
1553  Apr 30, 2013   144.00   146.93   134.05   139.00              -
1554  Apr 29, 2013   134.44   147.49   134.00   144.54              -
1555  Apr 28, 2013   135.30   135.98   132.10   134.21              -

          Market Cap
0     45,535,800,000
1     44,890,700,000
2     46,246,700,000
3     44,144,400,000
4     41,816,500,000
...              ...
1551   1,292,190,000
1552   1,542,820,000
1553   1,597,780,000
1554   1,491,160,000
1555   1,500,520,000

[1556 rows x 7 columns]>

In [13]:
df.describe()

              Open         High          Low        Close
count  1556.000000  1556.000000  1556.000000  1556.000000
mean    582.625328   597.992847   567.851446   584.239396
std     523.137312   542.992855   505.877401   525.904442
min      68.500000    74.560000    65.530000    68.430000
25%     254.287500   260.327500   248.835000   254.320000
50%     438.600000   447.560000   430.570000   438.855000
75%     662.437500   674.525000   646.735000   663.402500
max    2953.220000  2999.910000  2840.530000  2958.110000

In [14]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

In [16]:
df["Date"] = df['Date'].astype("datetime64[ns]")

In [17]:
df.dtypes

Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume                object
Market Cap            object
dtype: object

In [18]:
df["Date"].min()

Timestamp('2013-04-28 00:00:00')

In [19]:
df["Date"].max()

Timestamp('2017-07-31 00:00:00')

In [20]:
##this means data is collected from 2013-04-28 to 2017-07-31

In [21]:
df["Date"]

0      2017-07-31
1      2017-07-30
2      2017-07-29
3      2017-07-28
4      2017-07-27
          ...
1551   2013-05-02
1552   2013-05-01
1553   2013-04-30
1554   2013-04-29
1555   2013-04-28
Name: Date, Length: 1556, dtype: datetime64[ns]

In [22]:
df["Date"].isnull().sum() #checking for null values

np.int64(0)

In [23]:
df["Date"].duplicated().sum() #checking for duplicates

np.int64(0)

In [24]:
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2017-07-31,2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,2017-07-30,2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,2017-07-29,2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,2017-07-28,2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,2017-07-27,2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"

In [27]:
data = df.sort_index(ascending=False) #sorted the records from oldest to recent, but the index would remain the same as before

In [28]:
data

,Date,Open,High,Low,Close,Volume,Market Cap
1555,2013-04-28,135.30,135.98,132.10,134.21,-,"1,500,520,000"
1554,2013-04-29,134.44,147.49,134.00,144.54,-,"1,491,160,000"
1553,2013-04-30,144.00,146.93,134.05,139.00,-,"1,597,780,000"
1552,2013-05-01,139.00,139.89,107.72,116.99,-,"1,542,820,000"
1551,2013-05-02,116.38,125.60,92.28,105.21,-,"1,292,190,000"
...,...,...,...,...,...,...,...
4,2017-07-27,2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"
3,2017-07-28,2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
2,2017-07-29,2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
1,2017-07-30,2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
0,2017-07-31,2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"

In [30]:
data.reset_index() #resets index

,index,Date,Open,High,Low,Close,Volume,Market Cap
0,1555,2013-04-28,135.30,135.98,132.10,134.21,-,"1,500,520,000"
1,1554,2013-04-29,134.44,147.49,134.00,144.54,-,"1,491,160,000"
2,1553,2013-04-30,144.00,146.93,134.05,139.00,-,"1,597,780,000"
3,1552,2013-05-01,139.00,139.89,107.72,116.99,-,"1,542,820,000"
4,1551,2013-05-02,116.38,125.60,92.28,105.21,-,"1,292,190,000"
...,...,...,...,...,...,...,...,...
1551,4,2017-07-27,2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"
1552,3,2017-07-28,2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
1553,2,2017-07-29,2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
1554,1,2017-07-30,2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
1555,0,2017-07-31,2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"